.Profile {
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    min-height: 1060px;
    
}

.User_options_conteiner {
    width: 30%;
    background-color: violet;
}

.User_data_conteiner {
    width: 70%;
    background-color: blue;
}

.User_options {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.User_data {
    padding: 10%;
    max-width: 100%;
    max-height: 100%;
}








/* .profile {
    margin-top: 10%;
    color: white;
}
.searchbar-test{
    color:white
}
.show-profile-settings {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    background-image: linear-gradient(225deg, #1f1d38 0%, rgb(37, 36, 36) 40%, #323232bd 70%, #4a49497f 100%);
    color: white;
    border-radius: 20px;
    width: 20%;
}

.show-current-setting {
    background-color: ghostwhite;
    background-image: linear-gradient(225deg, #1f1d38 0%, rgb(37, 36, 36) 40%, #323232bd 70%, #4a49497f 100%);
    color: white;
    border-radius: 20px;
    width: 80%;
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.settings span {
    padding-bottom: 20%;
    padding-top: 20%;
} */