.filters {
    display: flex;
   
}

.show-filters{
    background-color: wheat;
}

.Sorts-Games{
}

.Sorts {
}

.Games-Cards-Div {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Search-Filters{
    margin-top: 10%;
}
