.filters {
    position: absolute;
    background-color: #13153c;
    background-image: linear-gradient(45deg, #13153c 0%, #434892 46%, #7380e5 100%);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.show-filters{
    width: 20%;
}

.Sorts-Games{
    width: 80%;
}

.Sorts {
    height: 20%;

}

.Games-Cards-Div {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
