.Paginado-conteiner {
    display: flex;
    justify-content: center;
}


.Paginado {
    list-style: none;
    display: flex;
}

.Paginado-button{
    margin-left: 1rem;
    margin-right: 1rem;
}

.Paginado-conteiner button {
    cursor: pointer;
    padding: 5px 15px;
    background: rgb(49, 49, 49);
    border: none;
    color: white;

    box-shadow: 1px 1px 10px -5px #000000;
  }
  
.Paginado-conteiner button:hover {
    box-shadow: 5px 5px 20px #000000;
    transform: translateY(5px) translateX(5px);
  }