.card-videogame{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 2rem;   
    background-color: ghostwhite;
  background-image: linear-gradient(225deg, #05003a 0%, #000000ff 40%, #000000bd 70%, #0000007f 100%);
     height: 250px;
}

.card-videogame:hover{

}

#button_card {
    width: min-content;
    display: flex;
}

.h{
    text-align: center;
}

.image-card {
    width: 225px;
    height: 150px;
    border-radius: 15px;
    background: round;
    
}

.Link {
    text-decoration: none;
    color: white;
}

.card-data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: 0 1px 0 rgb(51 51 51 / 30%);
    color: #fff;
    padding: 2%;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    transform: scale(1.15);
    transition: 0.2s;
}

  
  .favourite-checkbox {
    display: none;
  }
  
  .favourite-label {
    font-size: 25px;
    transition: 500ms;
    cursor: pointer;
  }
  
  .favourite-checkbox:checked + .favourite-label {
    color: red;
    transform: scale(1.2);
  }