.container{
    background-color: rgba(71, 70, 70, 0.438);
    margin-top: 15%;
    margin-bottom: 40%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

.tituloTarjeta{
    font-size: 20px;
    color: white;
    margin: 5px;
    text-align: center;
}
.pTarjeta{
    color: white;
    margin-top: 30px;
    margin-left: 5px;
}


.cardTarjeta{
    
    width: 300px;
    color:white;
    margin: 5px;
}

.cardElement{
    border:solid black 1px;
    border-radius: 20px;
    background-color: darkgray;
    color: black;
    width: 250px;
    padding: 2px;
}



.subcontainerPagar{
    margin-top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

.ButtonPagar{
    border: solid white 1px;
    border-radius: 20px;
    width: auto;
    height: 50px;
    text-align: center;
}

.ButtonPagar:disabled {
cursor: not-allowed;
opacity: 0.6;
border: 2px solid red;
}