.container{
    background-color: rgba(71, 70, 70, 0.438);
    margin-top: 15%;
    margin-bottom: 40%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    border: 1px solid white;
    border-radius: 0;
}

.spanFormPayment {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

}

.divElementsFromCartPayment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center ;
    padding: 20px;

}


.tituloTarjeta{
    font-size: 20px;
    color: white;
    text-align: center;
}
.pTarjeta{
    color: white;
    margin-top: 30px;
}


.cardTarjeta{
    
    color:white;
    margin: 5px;
}

.divFormPayment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardElement{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border:solid black 1px;
    background-color: darkgray;
    color: black;
    width:350px;
    padding: 7px; 
}

.subcontainerPagar{
    display: flex;
    flex-direction: row;
    height: auto;
    text-align: center;
}

.ButtonPagar{
    border: solid white 1px;
    border-radius: 0;
    width: auto;
    height: 40px;
    margin: 2px;
    text-align: center;
}


.ButtonPagar:disabled {
text-align: center;
cursor: not-allowed;
opacity: 0.6;
border: 2px solid red;
}