.carrousel_card {
    display: flex;
    flex-direction: row;
    animation: slide 60s linear infinite;
    max-width: 10%;
    max-height: 10%;
    overflow-x: hidden;
}

.carrousel_card h1{
    color: red;
}

.banner {
    display: flex;
    width: 500%;
    max-height: 100%;
}

.banner img {
    width: 100%;
    opacity: 50%;
}

.banner img:hover {
    opacity: 100%;
    transform: translateY(-25px);
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-800%, 0, 0);
    }
}