.landing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.landing h1{
    font-size: 170px;
    text-align: center;

}

.landing a {
    text-decoration: none;
    color: rgb(255, 238, 0);
}

.landing h1:hover {
    text-decoration: underline;
}

.body_landing h3{
    color: rgba(255, 238, 0, 0.616);
    font-size: 40px;
    text-align: center;
}

.body_landing p{
    color: rgba(255, 238, 0, 0.616);
    font-size: 30px;
    text-align: center;
}