.carrousel {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
}

.banner {
    display: flex;
    overflow: hidden;
    width: 65%;
}