.About {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    margin-bottom: 5%;
}
.About-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.name {
    padding: 2%
}