.Admin-show-settings{
    width: 80%;
    background: green;
    height: 1200px;
}

.Admin-settings{
    width: 20%;
    background: red;
}

.Admin-conteiner {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.Admin-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 1150px;
}
.Admin-games::-webkit-scrollbar {
    display: none;
}

.conteinerCart2{
    color: white;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    justify-content: space-around;
    margin-bottom: 10%;
}

.Admin-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar-admin{
    display: flex;
    justify-content: center;
}