.suscribe-conteiner{
    background-color: #ffffffd4;
    padding: 1%;
    border-radius: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.suscribe-textarea{
    color: ghostwhite;
    background-color: rgb(0 0 0);
    display: flex;
    flex-direction: row;
    padding: 1%;
    font-family: sans-serif;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
    font-size: 25px;
    width: 98%;
    border: 5px solid #ffeb3b;
}

.h2-textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.h2-textarea textarea{
    width: 400px;
    height: 70px;
    background: none;
    resize: none;
    border: none;
    color: ghostwhite;
    padding: 1%;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
    overflow: hidden;
}

.suscribe-form{
    display: flex;
    padding: 1%;
    justify-content: center;
}

.suscribe-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.suscribe-form button {
    width: 43%;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}


.suscribe-form input{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 2%;
    font-size: 25px;
}

.suscribe-conteiner h2 {
    font-size: 15px;
}