#game_video {
    margin-top: 0%;
    margin-left: 15%;
    margin-bottom: 5%;
    min-height: 100%;
}

#boton_juego {
    padding: 1%;
}

#loading_detail {
    text-align: center;
    margin-top: 15%;
}

#conteiner_detalles{
    display: flex;
}

#conteinerDetails {
    display: flex;
}

carrito {
    display: inline-grid;
}

#conteinerSide_detalles2 {
    width: 20%;
    display: block;
}

#conteinerSide_detalles {
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;

    background-color: rgba(0, 0, 0, 0.473);
    padding: 10%;
    position: sticky;
    display: table-caption;
}

#conteinerSide_detalles a {

    text-decoration: none;
}

#conteinerSide_detalles button {
    border-radius: 5px;
    max-height: 100%;
    min-width: 100%;
}

.imagenesJuego {
    display: flex;
}

.imagenJuego {
    width: 100%;
    border-radius: 20px;
}

.game_detail {
    color: white;
    padding: 10%;
}

.imagenesJuego button {
    background: none;
    border-radius: 20px;
    padding: 0;
}