#game_video {
    margin-top: 0%;
    margin-left: 15%;
    margin-bottom: 5%;
    min-height: 100%;
}

#contenedor_tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    align-content: stretch;
    padding: 2%;
    padding-top: 0%;
}

#tag_details {
    border-style: solid;
    border-radius: 5px;
    margin: 1%;
}

#tag_details p {
    padding: 5%;
}

#contenedor_miniCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#boton_juego {
    padding: 1%;
}

#boton_juego :hover {
    box-shadow: 5px 5px 20px #000000;
    transform: translateY(-5px);
}

#loading_detail {
    text-align: center;
    margin-top: 15%;
}

#conteiner_detalles {
    display: flex;
}

#conteinerDetails {
    display: flex;
}

#conteinerSide_detalles2 {
    width: 20%;
    display: block;
}

#conteinerData_detalles2 {
    width: 80%;
    padding-right: 5%;
}

#conteinerSide_detalles {
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;

    background-color: rgba(0, 0, 0, 0.473);
    padding: 10%;
}

#conteinerSide_detalles a {
    word-break: break-all;
    text-decoration: none;
}

#conteinerSide_detalles button {
    border-radius: 5px;
    max-height: 100%;
    min-width: 100%;
}

.imagenesJuego {
    display: flex;
}

.imagenJuego {
    width: 100%;
    border-radius: 20px;
}

.game_detail {
    color: white;
    padding: 10%;
}

.imagenesJuego button {
    background: none;
    border-radius: 20px;
    padding: 0;
}

#contenedor_rev{
    border-style: solid;
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
}

.Form_review {
    border-style: solid;
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
}

#score {
    display: flex;
}

#Label_review {
    display: flex;
    flex-direction: column;
}

#modal_detail {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    backdrop-filter: blur(2px);
    background: rgb(0 0 0 / 69%);
  }

#imagen_pop{
    max-width: 800px;
}