.ImagenPop {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;
    pointer-events: auto;
    background-color: #0000007F;
    background-clip: padding-box;
    outline: 0;
    z-index: 10;
    margin-left: 20%;
}