.ImagenPop {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    background-color: #0000007F;
    background-clip: padding-box;
    outline: 0;
    z-index: 10;
    margin-left: 20%;
}