.ImagenPop {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    background-color: #0000007F;
    background-clip: padding-box;
    outline: 0;
    z-index: 10;
    margin-left: 20%;
}

.ImagenPop img {
    max-width: 100%;
}

#modalDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
}

#modalDetail button {
    border-style: none;
    position: absolute;
    right: 2%;
    top: 4%;
    
    display: flex;
    justify-content: center;

    padding: 1%;
    cursor: pointer;
    padding: none;
    background: #00000091;
    color: none;
    box-shadow: none;
    border-radius: 100%;
}

#modalDetail button:hover {
    box-shadow: rgb(0, 0, 0);
    transform: translateY(-5px);
    background: #000000;
  }