.mini_card-videogame {
    border-radius: 15px;
    margin: 2rem;
    background-color: ghostwhite;
    background-image: linear-gradient(225deg, #05003a 0%, #000000ff 40%, #000000bd 70%, #0000007f 100%);
    height: 250px;
}

.mini_image-card {
    width: 225px;
    height: 150px;
    border-radius: 15px;
    background: round;

}

.mini_card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}